body {
  font-family: Arial, sans-serif;
  background-color: #13b3e4;
  background: url("new.jpg");
  margin: 0px;
  padding: 0;
  background-position: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-div {
  background-color: #1ef0ad;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  top: 0;
}
h6{
  color: black;
}
h1 {
  text-align: center;
  color: blue;
}

form {
  max-width: 300px;
  margin-top: 20dp;
  padding: 65px;
  background-color: #1ef0ad;
  border-radius: 5px;
 
}
.black-text {
 
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
}

input[type="submit"] {
  background-color: #0c1cf3;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
.todo-item button:hover,
a:hover {
  background-color: #1b5e20;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.todo-div {
  background-color: aliceblue;
  padding: 5px;
  border: none;
}

.todo-item button:hover {
  background-color: #1b5e20;
}

.todo-item input[type="checkbox"] {
  margin-left: 10px;
}

.todo-list {
  list-style: none;
  padding: 10dp 10dp 10 dp;
  margin: 0;
  background-color: #f8efef;
}
/* Add background color for individual todo items */
.todo-item {
  background-color: #1ef0ad; /* Replace this color code with the desired background color */
  padding: 7px;
  border-radius: 10px;
  height: min-content;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(192, 12, 12, 0.1);
  margin-top: 0px;
  border: 1px solid #ccc;
  
}

/* Add hover effect on todo items */
.todo-item:hover {
  background-color: #f1f1f1; /* Replace this color code with the desired background color on hover */
}
.todo-item-des {
  background-color: rgb(174, 202, 137); /* Replace this color code with the desired background color */
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(192, 12, 12, 0.1);
  margin-bottom: 10px;
  margin-left: 5px;
  border: 1px solid #ccc;
}

/* Add hover effect on todo items */
.todo-item-des:hover {
  background-color: #f1f1f1; /* Replace this color code with the desired background color on hover */
}

.todo-item label {
  margin-bottom: 10px;
  text-size-adjust: 10px;
  margin-right: 10px;
}



#signup-form {
  margin-top: 110px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(95, 18, 238, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}

.todo-item {
  margin: 10px;
  padding: 15px;
}

.todo-item:hover {
  background-color: #f1f1f1;
}


.edit-button {
  background-color: #2b16e4; /* Replace this color code with the desired background color */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

/* Add hover effect for the Edit button */
.edit-button:hover {
  background-color: #1b5e20; /* Replace this color code with the desired background color on hover */
}


.delete-button {
  background-color: #2b16e4; /* Replace this color code with the desired background color */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

/* Add hover effect for the Edit button */
.delete-button:hover {
  background-color: #1b5e20; /* Replace this color code with the desired background color on hover */
}